html {
    font-size:16px;
}

body {
    font-family: "Raleway";
    font-size: 0.9em;
    width: 100%;
}

header {
    background-image: url('../img/hero-image.png');
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#about {
    background-color:#087e8b;
}

#contact {
    background-color: #095156;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap; 
}

.full-width {
    width: 100%;
    height: auto;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;  
	flex-flow: column wrap; 
}

.half-width {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    text-align: center;
    padding: 0 3em;
}

.third-width {
    width: 100%;
    height: auto;
}

h1{
    color: #bdbf09;
    font-size: 3em;
    text-align: center;
}

h2 {
    text-align: center;
    color: #bdbf09;
    font-size: 1.875em;
}

h3 {
    font-size: 1,125em;
    color:#2a9d8f;
}

h4 {
    color: #bdbf09;
    font-size: 1,125em;
}

p {
    color: #071E22;
}

#intro {
    text-align: center;
    font-size: 1.45em;
    width: 100%;
}

.websites {
    margin-top: 1em;
}

#work p {
    font-size: 1.125em;
    line-height: 24px;
    width: 90%;
}

#work img:hover {
    opacity: 0.5;
}

#about .half-width img {
    width: 90%;
    max-width: 460px;
    height: auto;
    border-radius: 8px;
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#about img {
    background: #1abc9c;
}

#about img:hover {
    opacity: .5;
}

#about .half-width p{
    width: 90%;
}

#about p{
    font-size: 1.1875em;
    color: white;
    line-height: 1.5em;
}

.third-width {
    text-align: center;
}

.third-width p {
    color: white;
}

.icons {
    background: rgba(0, 0, 0, .2);
    border: 3px solid transparent;
}

.cp {
    text-align: center;
    color: white;
}

.title{
    font-weight:bold;
}

@media all and (min-width:768px) {
    .full-width {
        width: 100%;
        margin: 40px 0;
    }

    .introduction {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #intro {
        width: 80%;
        align-self: center;
        line-height: 1.5em;
    }

    header {
        background-blend-mode: normal;
    }

    h3 {
        font-size: 1.65em;
    }

    h4 {
        font-size: 1.34em;
    }

    footer .full-width {
        margin: 20px 0;
    }

    .three-contacts {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        margin: 0 0 1em 0;
    }

    .cp {
        margin: 1em 0;
    }
}
 
@media all and (min-width:1200px) {

    h1 {
        font-size: 4.5em;

    }

    h2 {
        font-size: 2em;
    }

    h3, h4 {

    }

    .introduction {
        margin: 6em 0;
    }

    #intro {
        width: 40%;
        text-align: justify;
    }

    #work p{
        font-size: 1.35em;
        line-height: 30px;
    }

    .full-width-websites {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 5em 3em;
        line-height: 0.8em;
    }

    #about h2 {
        font-size: 2.5em;
    }

    #about .full-width {
        margin: 40px 0 10px 0;
    }


    .about-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #about p {
        font-size: 1.35em;
        margin: 1em 0;
    }

    #about img {
        margin: 1em 0 3em 0;
    }

    .three-contacts {
        font-size: 1.10em;
    }




 
}