html {
    font-size:16px;
}

body {
    font-family: "Raleway";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    width: 100%;
}

header {
   /* height: 800px; */
    background-image: url('../img/hero-image.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#work {
   /* height: 1450px; */
    padding: 10px 180px;
    border-width: 1px;
}

#about {
  /*  height: 650px; */
    background-color:#087e8b;
    box-sizing: border-box;
}

#contact {
  /*  height: 400px; */
    background-color: #095156;
}

.full-width {
    width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;  
	flex-flow: row wrap; 
}

.half-width {
    width: 600px;
    height: auto;
}

.third-width {
    width: 400px;
    height: auto;
}

h1{
    color: #bdbf09;
    font-size: 3.75em;
}

h2 {
    text-align: center;
    color: #bdbf09;
    font-size: 2.25em;
}

h3 {
    font-size: 1.5625em;
    color:#2a9d8f;
}
p {
    color: #071E22;
}

#intro {
    text-align: justify;
    font-size: 1.5625em;
}

.introduction{
    padding: 350px 250px;
}

.websites {
    margin-top: 60px;
}

#work p {
    font-size: 1.125em;
    line-height: 24px;
}

#about img {
    margin-left: 50px;
    margin-bottom: 100px;
    padding-top: 10px;
    padding-right: 10px;
} 

#about .half-width{
    margin-left: 130px;
    margin-bottom: 20px;
}

#about p{
    font-size: 1.1875em;
    color: white;
    padding-top: 40px;
}

.third-width {
    text-align: center;
}

.third-width p {
    color: white;
}

.icons {
    background: rgba(0, 0, 0, .2);
    border: 3px solid transparent;
}

.cp {
    text-align: center;
    color: white;
}

.title{
    font-weight:bold;
}